[user]
	name = Juan Cruz Martino
	email = juancruzmartino@gmail.com
[alias]
    br = branch
    cl = clone
    amend = commit --amend
    push-force = push --force-with-lease
    push-upstream = push --set-upstream origin
